<!-- views/partials/footer.ejs -->
<footer class="page-footer card-panel orange accent-2">
  <div class="container">
    <div class="row">
      <div class="col l4 m4 s4 left-align">
        <h5 class="white-text">Company</h5>
        <ul>
          <li>About</li>
          <li>Jobs</li>
          <li>Press</li>
          <li>News</li>
        </ul>
      </div>

      <div class="col l4 m4 s4 center-align">
        <h5 class="white-text">Communities</h5>
        <ul>
          <li >Explore</li>
          <li>Users</li>
        </ul>
      </div>

      <div class="col l4 m4 s4 right-align">
        <h5 class="white-text">Our Code</h5>
        <ul>
          <a class="grey-text text-lighten-3" target='_blank' href="https://github.com/ktso11/take_me_there"><i class="fab fa-github fa-3x"></i></a>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/ktso11">Katie</a></li>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/passion-pixel">Natalie</a></li>
          <li><a class="grey-text text-lighten-3" target='_blank' href="https://github.com/KarthikSRam">Karthik</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center-align">
    © 2018 Copyright Team Tech ♡ Bae
    </div>
  </div>
</footer>
