<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <title>Take Me There</title>

  <script type="text/javascript" script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" script src="/scripts/app.js"></script>

  <link rel="stylesheet" href="/styles/main.css">
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

   <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

  <!--Let browser know website is optimized for mobile-->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"/> -->


</head>

<!-- <body class="container"> -->
<body>

  <header>
    <% include ../views/partials/nav %>
  </header>
    <main>

      <div class="parallax-container">
        <div class="parallax"><img src="images/vitaly-taranov-105782-unsplash.jpg" width="100%"></div>
        <div class="section no-pad-bot" id="index-banner">
          <div class="container">
            <br />
            <br />
            <br>
            <h1 class="header center orange-text"> Take Me There</h1>

            <div class="row center">
              <h3 class="header col s12 light"> Find your next adventure!</h3>
              <p>Explore the world and create a list of your next go-to places.</p>
            </div>


          </div>
        </div>
      </div>


      <div class="container">
        <div class="section">
          <div class="row">

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-orange-text"> <i class="fas fa-globe"></i></h2>
                <h5 class="center">Explore</h5>
                <p class="light"> Search new places around the world and view associated geotags</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-orange-text">
                  <i class="far fa-user-circle"></i>
                </h2>
                <h5 class="center">Create an Account</h5>
                <p class="light">Create an account to access your profile and create your list of places to explore</p>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="icon-block">
                <h2 class="center light-orange-text">
                  <i class="far fa-star"></i>
                </h2>
                <h5 class="center">Save your Favorites</h5>
                <p class="light">As a user you can log in to your profile and view a list of the places you've saved</p>
              </div>
            </div>

          </div>
        </div>
      </div>

<br>
<br>
      <div class="parallax-container">
        <div class="parallax"><img src="images/hikers.jpg"></div>
      </div>

    </main>

  <footer>
    <% include ../views/partials/footer %>
  </footer>
</body>
</html>
