<!DOCTYPE html>
<html>
  <head>
    <title>Map test</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <!-- <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 20em;
        width: 50em;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        /* position: absolute; */
        top: 10px;
        /* left: 25%; */
        /* z-index: 5; */
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
    </style> -->


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJwf9SISzx0464yybWIMGSDFNNxA8Dtv8&callback=initMap">
    </script>
    <script src="/scripts/app.js"></script>
    <!-- <script src="/scripts/unsplash.js"></script> -->

  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Sydney, NSW">
      <input id="submit" type="button" value="submit">
    </div>
    <div id="map" style="width: 100%; height: 400px"></div>

    <input id="picturesearch" type="textbox" value="golden gate bridge">
    <input id="picsubmit" type="button" value="submit">
  </body>
</html>
