<h2>My Profile </h2>

<p>My username: <%= currUser.username %></p>
<hr>
<h3>My Favorite Places</h3>
<ul id="favPlaces">
  <% for(var i=0; i < favs.length; i++){ %>
  <li> <%= favs[i].name %> </li>
  <% } %>
<!-- <li>Golden Gate Bridge</li> -->
</ul>
