html, body {
    height: 100%;
    margin: 0 auto ;
    right: 0;
    font-family: GillSans, Calibri, Trebuchet, sans-serif;

}


#queryImg {
  display: flex;
  margin-left: 0;
  margin-right: 0;

  /* flex-wrap: nowrap; */
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 120em;
  padding-left: 1em;
  padding-right:1em;
   overflow: hidden;
}
#queryImg img{
  width: 30%;
  /* position: relative; */
  margin: .5em .5em .5em .5em;
  flex-basis: content;
flex: 0 1 auto;
}

h2{
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
}

#floating-panel {
  margin: 1.61em;
}

#address {
  width: 20em;
}

#favoriteForm {
  display: flex;
  justify-content: center;
}

#navspan{
  display: flex;
  flex-direction: row;
}

#navspan span{
  width: 50%;
}

#loginspan{
  text-align: right;
}
#signupspan{
  text-align: right;
}
.icon-block p{
  text-align: center;
}

.navbar .card-panel{
  /* top:0; */
  margin-top: 0;
  margin-bottom: 0;
}
