#queryImg, html, body {
    height: 100%;
    margin: 0 auto ;
    right: 0;

}
#queryImg {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  flex-wrap: nowrap;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 95%;
  height: 100em;
  padding-left: 1em;
  padding-right:1em;
}
#queryImg img{
  width: 32%;
  position: relative;
  margin: .5em .5em .5em .5em;
  padding
}
